{% extends 'todo/base.html' %}
{% block content %}
<div class="container" style="height: inherit;">
    <div class="d-flex align-items-center flex-column row justify-content-center" style="height: inherit;">
        <div class="col-10 col-sm-6 col-md-5">
        <h1 class="text-start text-dark mb-4">{{todo.title}}</h1>
        {% if error %}
        <div class="alert alert-dismissible fade show alert-danger" role="alert" data-mdb-color="warning" id="customxD">
            <i class="fas fa-times-circle me-3"></i>
            {{ error }}
            <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <!-- Title input -->
            <div class="form-group form-outline mb-4">
                <input type="text" name="title" class="form-control" id="title" value="{{todo.title}}" required>
                <label for="title" class="form-label">Title</label>
            </div>
        
            <!-- Memo input -->
            <div class="form-group form-outline mb-2">
                <textarea name="memo" class="form-control" id="memo">{{todo.memo}}</textarea>
                <label for="memo" class="form-label">Memo</label>
            </div>
            
            <!-- Important checkbox -->
            <div class="form-group form-check mb-3">
                <input class="form-check-input" type="checkbox" id="important" name="important" {% if todo.important %}checked{% endif %}/>
                <label class="form-check-label text-start" for="important">Important</label>
            </div>

            <!-- Submit buttons -->
            <div class="d-inline-block mb-2">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>

            <!-- Other buttons -->

        </form>
        <div class="d-flex">
            <div class="d-inline-block me-2">
                <form method="POST" action="{% url 'completetodo' todo.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-block">Completed</button>
                </form>
            </div>
            <div class="d-inline-block">
                <form method="POST" action="{% url 'deletetodo' todo.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}